:root {
    --primary-color:;
    --secondary-color: #3c195f;
    --background-color: #050412;
    --text-color: rgb(240, 250, 255);
}


header {
    background-image: url(images/20.jpeg);
    background-position: top;
    background-size: cover;
    height: 300px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;
    margin: -8px;
    padding: 0;
}


body {
    background-color: var(--background-color);
    background: radial-gradient( var(--secondary-color), var(--background-color));
}

h1 {
    font-size: 50px;
    color: var(--text-color);
    text-shadow: 0 0 15px var(--secondary-color);
    letter-spacing: 5px;
    text-align: center;
}

h2 {
    color: var(--text-color);
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 10px;
    margin: auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


img {
    margin: 10px auto;
    border-radius: 15px;
    width: 300px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.2);
}

footer img {
    position: fixed;
    right: 50px;
    bottom: -15px;
    width: 500px;   
}

@media  screen and (max-width: 800px) {

    h1 {
        font-size: 40px
    }

    img {
        border-radius: 25px;
        padding: 10px;
        width: 450px;
    }

    footer img {
        position: fixed;
        margin: auto;
        bottom: -25px;
        width: 500px;   
    }

}